<!DOCTYPE html>
<html>
<head>
    <title>安全漏洞演示模块</title>
</head>
<body>
    <h1>安全漏洞演示: XSS 反射型</h1>

<!-- 不带参数的：
\{% url 'name' %\}
带参数的：参数可以是变量名
\{% url 'name' 参数 %\} -->
<a href="http://127.0.0.1:8000/">首页</a> > <a href="http://127.0.0.1:8000/example/list">演示列表</a><hr><br>
<!-- --------------------------------------------------------------  -->

{% autoescape off %}
显示用户名称： <div>{{u_name}}<div>
{% endautoescape %}

<hr>
payload:
http://127.0.0.1:8000/example/list/xss01?name=yulikui<div><script type="text/javascript">alert(1)</script>

</body>
</html>